<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body>

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                    <h3 th:if="${success}" class="alert alert-info">Pomyślnie dodano nowego lekarza </h3>
                <div class="panel-heading">
                    <h3 class="panel-title">Dodaj nowego lekarza </h3>
                </div>
                <div class="panel-body">
                    <form action="#" th:action="@{/admin/addNewDoctor}" th:object="${newDoctorDTO}" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" th:field="*{name}"  class="form-control input-sm" placeholder="Imię">
                                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:text="${err}"></td>

                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" th:field="*{surname}"  class="form-control input-sm" placeholder="Nazwisko">
                                    <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" th:text="${err}"></td>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" th:field="*{email}"  class="form-control input-sm" placeholder="Email">
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:text="${err}"></td>

                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" th:field="*{password}"  class="form-control input-sm" placeholder="Hasło">
                                    <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:text="${err}"></td>

                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" th:field="*{passwordConfirmation}" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Potwierdzenie hasła">
                                    <td th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" th:text="${err}"></td>

                                </div>
                            </div>
                        </div>

                            <div class="form-group">
                                <label >Specjalizacja</label>
                                <select th:field="*{category}" class="form-control">
                                    <option   th:each="category: ${DoctorCategories}" th:text="${category.name}" th:value="${category.name}"/>

                                </select>
                            </div>


                        <input type="submit" value="Rejestracja" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<style>

    body{
        background-color: #525252;
    }
    .centered-form{
        margin-top: 60px;
    }

    .centered-form .panel{
        background: rgba(255, 255, 255, 0.8);
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    }
</style>

</html>

