<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<head>
    <div th:replace="fragments/header :: header"/>
</head>

<body>
<div class="panel panel-default">

    <div class="col-md-6 col-md-offset-3">

        <h1> Oczekujący wizyty</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Godziny przyjęć</th>
                <th>Informacje o przyjmującym</th>
                <th>Informacje o rezerwującym</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="resTerm :${reservatedTerms} ">
                <td th:text="${resTerm.date}"></td>
                <td th:text="${resTerm.startTime} + ' - '+ ${resTerm.endTime}"></td>

                <td th:text="${resTerm.doctorName +' '+ resTerm.doctorSurname}"></td>
                <td th:text="${
                resTerm.patienttName+' '+
                resTerm.patientSurname+' '+
                resTerm.patientPesel+' '+
                resTerm.patientEmail+' '+
                resTerm.patientPhoneNumber}">

                </td>
                <td >
                    <a th:href="${'/admin/reservation/'+resTerm.id+'/accept/'}" class="btn btn-success" role="button">Akceptuj</a>
                    <a th:href="${'/admin/reservation/'+resTerm .id+'/reject/'}" class="btn btn-danger" role="button">Odrzuć</a>


                </td>



            </tr>
            </tbody>
        </table>

<h1> Zaakceptowane wizyty</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Godziny przyjęć</th>
                <th>Informacje o przyjmującym</th>
                <th>Informacje o rezerwującym</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="accTeam :${acceptedTerms} ">
                <td th:text="${accTeam.date}"></td>
                <td th:text="${accTeam.startTime} + ' - '+ ${accTeam.endTime}"></td>

                <td th:text="${accTeam.doctorName +' '+ accTeam.doctorSurname}"></td>
                <td th:text="${accTeam.patienttName + ' ' + accTeam.patientSurname+ ' '+
                    accTeam.patientPesel + ' '+ accTeam.patientEmail + ' ' + accTeam.patientPhoneNumber}"></td>
                <td >
                    <a th:href="${'/admin/reservation/'+accTeam.id+'/generateAccount/'}" class="btn primary" role="button">Generuj konto</a>

                </td>



            </tr>
            </tbody>
        </table>
</body>




</div>

</body>


</html>