<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<th:block th:fragment="header">
    <head>
        <script src="/webjars/jquery/1.9.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link href="/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
              rel="stylesheet">

    </head>
    <body>


    <nav class="navbar navbar-default">
        <lab class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">VRSC</a>
            </div>
            <ul class="nav navbar-nav" >
                <li sec:authorize="hasAuthority('ROLE_DOCTOR')"><a href="/doctor/addNewTerm">Dodaj terminy</a></li>


                <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/admin/addNewDoctor">Dodaj Lekarza</a></li>
                <li sec:authorize="hasAuthority('ROLE_ADMIN')"><a href="/admin/reservations">Sprawdź rezerwacje</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right ml-1">
                <li sec:authorize="isAnonymous()"><a href="/login">Zaloguj</a></li>
                <li sec:authorize="isAuthenticated()"><a  th:href="@{/logout}">Wyloguj</a></li>
            </ul>

        </lab>


    </nav>

    </body>
</th:block>
</html>
