
body {
  font-size: 14px;
  line-height: 1.5em
;font-weight: 400;
}

p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

tile {
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 20px;
  margin-bottom: 10px;
}

.tile-size {
  width: 33% !important;
  margin: 1px !important;
}

title {
    margin: 1px;

}

.title-background{
    color: #fff;
  }

.Dermatolog {
  background: #5133AB !important;
}

.Chirurg {
    background: #AC193D;
}


.plastyczny {
  background: #2F5B9F;
}
.Dermatolog {
    background: #00A600 !important;
  }
.Gastrolog {
    background: #2672EC !important;
}

.Kardiolog {
    background: #DC572E !important;
}

.Laryngolog{
  background: #2FBC9F !important;
}

