<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body>

<h1 th:text="${category.name}"></h1>



<div th:if="${#lists.isEmpty(doctorList)}">
    <div class="panel-group" style="margin: 20px">
        <div class="panel panel-info">
            <div class="panel-heading">Brak wyników</div>
            <div class="panel-body">W przyszłości będzie ich więcej!</div>
        </div>
    </div>
</div>
<ul class="list-group list-group-flush">
    <a  th:href="'/doctors/profile/'+${doctor.id}+'/'" class="list-group-item" th:each="doctor :${doctorList} "  th:text="${doctor.name}+ ' ' + ${doctor.surname}"></a>

</ul>
<p><a href="/" th:href="@{/}">Powrót do strony głównej</a></p>

</body>
</html>