<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
    <link  href="/css/homepage.css"  rel="stylesheet" />

    <div th:replace="fragments/header :: header"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <strong>Jakiego specjalisty potrzebujesz? </strong>
            </h1>
        </div>
    </div>
    <div class="row" >
        <div  th:each="category :${categoryList} "  th:class="'tile col-sm-4 tile-size '+ ${category.name}">
            <a th:href="'/doctors/'+${category.id}+'/'"  class="tile ">
                <h3 class="title title-background " th:text="${category.name}"></h3>

            </a>
        </div>
    </div>
</div>
</body>

</html>