<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body>

<h3>Specjalista</h3>
<h1 th:text="${doctor.name}"></h1>
<h1 th:text="${doctor.surname}"></h1>

<h3>Umów wizytę!</h3>


<table class="table">
    <thead>
    <tr>
        <th>Data</th>
        <th>Godziny przyjęć</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="term,iter :${listOfTerms} ">

        <td th:if = "${iter.index != 0 and term.date != listOfTerms[iter.index-1].date}" th:text="${listOfTerms[iter.index].date}"></td>
        <td th:if = "${iter.index != 0 and term.date == listOfTerms[iter.index-1].date}" text=""></td>

        <td th:if = "${iter.index == 0 }" th:text="${listOfTerms[iter.index].date}" ></td>

        <td th:text="${term.startTime} + ' - '+ ${term.endTime}"></td>


        <td th:if="${term.status == 'FREE'}" ><a th:href="${'/reservation/'+term.id+'/'}" class="btn btn-info" role="button">Rezerwacja</a></td>
        <td th:if="${term.status == 'HIRED'}" ><a href="#" class="btn btn-info" disabled role="button">Rezerwacja</a></td>
        <td th:if="${term.status == 'RESERVATED'}">Zarezerwowany</td>

    </tr>
    </tbody>
</table>





<p><a href="/" th:href="@{/}">Powrót do strony głównej</a></p>

</body>
</html>