<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<head>
    <div th:replace="fragments/header :: header"/>
</head>
<body>

<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Umawianie wizyty</h3>
                </div>

                <div class="panel-body">
                    <h5 class="form-control">Dane lekarza:</h5>

                    <div>
                            <p th:text="${'Imie i nazwisko: '+ term.doctorName + ' ' + term.doctorSurname}"></p>
                            <h5 >Data wizyty</h5>
                            <p th:text="${term.date}"> </p>
                            <h5> Godziny wizyty </h5>
                            <p th:text="${term.startTime} + ' - '+ ${term.endTime}"> </p>


                    </div>

                    <h5 class="form-control">Twoje dane:</h5>

                    <form action="#" th:action="@{${'/makeReservation/'+term.id+'/'}}" th:object="${newPatientDTO}" method="post">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" th:field="*{name}"  class="form-control input-sm" placeholder="Imię">
                                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:text="${err}"></td>

                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" th:field="*{surname}"  class="form-control input-sm" placeholder="Nazwisko">
                                    <td th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" th:text="${err}"></td>

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" th:field="*{email}"  class="form-control input-sm" placeholder="Email">
                            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:text="${err}"></td>

                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="number" min="10000000000" max="99999999999" th:field="*{pesel}"  class="form-control input-sm" placeholder="pesel">
                                    <td th:if="${#fields.hasErrors('pesel')}" th:errors="*{pesel}" th:text="${err}"></td>

                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="number" min="100000000" max="999999999" th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber" class="form-control input-sm" placeholder="numer telefonu">
                                    <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" th:text="${err}"></td>

                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Umów się na wizytę" class="btn btn-info btn-block">

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<style>

    body{
        background-color: #525252;
    }
    .centered-form{
        margin-top: 60px;
    }

    .centered-form .panel{
        background: rgba(255, 255, 255, 0.8);
        box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
    }
</style>

</html>

