<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml">


<head>
    <div th:replace="fragments/header :: header"/>
</head>

<div class="alert alert-success">
    <strong th:text="${title}">Sukces!</strong> <p th:text="${content}"></p>
</div>

<li><a href="/">Powrót</a></li>

</html>