<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <div th:replace="fragments/header :: header"/>

</head>
<body>

<div th:each="user: ${userList}">
    <span th:text="${user.name}">  </span>
    <br>
</div>
</body>
</html>
