<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <div th:replace="fragments/header :: header"/>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

</head>
<body>
<div class="row">
    <form action="#" th:action="@{/doctor/addNewTerm}" th:object="${newTermDTO}" method="post">

    <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
                <label class="control-label" for="date">Data</label>
                <input class="form-control" id="date" th:field="*{date}" name="date" placeholder="MM/DD/YYY" type="text"/>
                <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}" th:text="${err}"></td>

            </div>
            <div class="form-group">
                <label class="control-label">Godzina zaczęcia pracy</label>
                <input type="time" id="start"
                       value="08:00"   min="8:00" max="19:00" th:field="*{startTime}"  required>

                <td th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}" th:text="${err}"></td>
            </div>
            <div class="form-group">
                <label class="control-label" for="date">Godzina zakończenia</label>
                <input type="time" id="stop"
                   min="9:00" max="20:00"  value="16:00"required th:field="*{endTime}" >

                <td th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}" th:text="${err}"></td>

            </div>
        </div>
    <input type="submit" value="Dodaj termin" class="btn btn-info btn-block">

    </form>
    <div class="col-md-6 col-md-offset-3">

        <table class="table">
            <thead>
            <tr>
                <th>Data</th>
                <th>Godziny przyjęć</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="term :${listOfTerms} ">
                <td th:text="${term.date}"></td>
                <td th:text="${term.startTime} + ' - '+ ${term.endTime}"></td>
                <td th:text="${term.status}"></td>

            </tr>
            </tbody>
        </table>


</body>
</html>
<script>
    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>